div {
  margin-bottom: 2rem;
}

div:last-child {
  margin-bottom: 0;
}

/* INDEX */

.index_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* ABOUT */

.main_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 2 / 1 / 6 / 4;
}
.div2 {
  grid-area: 1 / 4 / 6 / 6;
}

/* PROJECTS */

/* GRIDS */

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid_2-1-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 0.5rem;
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 0.5rem;
}

.grid_1-1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 1rem;
}

.grid_4-1-2 {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  gap: 1rem;
}

/* CONTACT */

/* ALT */
.main_content {
  grid-area: 2 / 2 / 7 / 5;
}
